*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
}
/*                                                  HEADER                                                          */
header{
    background-color: #bbd5e4;
    height: 3rem;
    justify-content: center;
    align-items: center;
}

header div.head{
    background-color: #c8a93d;
    width: 70%;
    height: 90%;
    height: 2rem;
}

div.logo{
    width: 25%;
    border: 2px dotted black;
}

div.nav{
    width: 50%;
    border: 2px dotted black;
    text-align: center;
}

div.login{
    width: 25%;
    border: 2px dotted black;
    text-align: right;
}

/*                                              MAIN                                                    */

/*Container mini*/
section.bk-blue{
    background-color: #1d0086;
    height: 20rem;
    justify-content: center;
    align-items: center;
}

div.box-pink{
    background-color: #d67aea;
    width: 50%;
    height: 70%;
}

/*Section WHITE*/
section.bk-white{
    background-color: white;
    height: 20rem;
    justify-content: center;
    align-items: center;
}
div.container-box{
    height: 80%;
    width: 70%;
    justify-content: center;
    align-items: center;
}

div.box-blue{
    background-color: #6183f9;
    width: 70%;
    height: 100%;
    border: 2px dotted black
}

div.box-soft-pink{
    background-color: #eebfca;
    width: 30%;
    height: 100%;
    border: 2px dotted black
}

/*Section bk-grey*/
section.bk-grey{
    background-color: #d2d2d2;
    height: 20rem;
    justify-content: center;
    align-items: center;
}

section.bk-grey div.box-blue{
    background-color: #6183f9;
    width: 70%;
    order: 1;
}

section.bk-grey div.box-soft-pink{
    background-color: #eebfca;
    width: 30%;
}

/*section bk-lightgreen*/

section.bk-lightgrey{ 
    background-color: #d2d2d2;
    height: 40rem;
    justify-content: center;
    align-items: center;
}

div.box-green{
    background-color: #528c32;
    width: 70%;
    height:90%;
    border: 2px dotted black;

}

/* FOOTER*/

footer{
    background-color: #292b2e;
    height: 50rem;
}

section.bk-dark-blue{
    height: 22rem;
    justify-content: center;
    padding: 1rem 0;
}
div.container-footer{
    width: 70%;
    height: 20rem;
    justify-content: center;
    align-items: center;
}
div.box-mini-pink{
    background-color: #d48282;
    width: 40%;
    height: 100%;
    border: 1px dotted black;
}

div.box-mini-green{
    background-color: #6aafa7;
    width: 15%;
    height: 100%;
    border: 1px dotted white;
}

/* HR WHITE*/

div.hr-white{
    background-color: white;
    height: .1rem;

}

section.footer{
    height: 2rem;
}
div.bk.aqua{
    background-color: #b0ffd4;
    width: 70%;
    height: 2rem;
}