*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.flex-container {
    display: flex;
}
ul{
    list-style: none;
}
nav ul {
    display: flex;
    justify-content: space-between;
  }
/*                                                  HEADER                                                          */
header{
    background-color: #255ee9;
    height: 3rem;
    justify-content: center;
    align-items: center;
    padding-top: .5rem;
}

header div.head{
    width: 70%;
    height: 90%;
    height: 2rem;
}

div.logo{
    width: 25%;
}

div.nav{
    width: 50%;
    text-align: center;
    flex-direction: row;
}

div.login{
    width: 25%;
    text-align: right;
    display: flex;
    justify-content: end;
}

button{
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: .5rem 1rem;
    border: none;

}

button.bk-black{
    background-color: black;
    color: white;
}

/*                                              MAIN                                                    */

/*Container mini*/
section.bk-blue{
    background-image: url(../imgs/jumbo.png);
    background-size: cover;
    height: 30rem;
    justify-content: center;
    align-items: center;
}

div.box-pink{
    width: 50%;
    height: 70%;
    color: white;
    text-align: center;
    padding: 1rem;
}
div.box-pink h1{
    font-size: 3rem;
}

div.box-pink p{
    font-size: 1.1rem;
    padding: .8rem;
}


/*Section WHITE*/
section.bk-white{
    background-color: white;
    height: 35rem;
    justify-content: center;
    align-items: center;
}
div.container-box{
    height: 80%;
    width: 70%;
    justify-content: center;
    align-items: center;
}

div.box-blue{
    width: 70%;
    height: 100%;
}

div.box-soft-pink{
    width: 30%;
    height: 100%;
}

div.box-soft-pink h1{
    font-size: 2rem;
    padding-bottom: 1rem;
}
div.box-soft-pink p{
    font-size: 1.5rem;
}

/*Section bk-grey*/
section.bk-grey{
    background-color: #d2d2d2;
    height: 42rem;
    justify-content: center;
    align-items: center;
}

section.bk-grey div.box-blue{
    width: 70%;
    order: 1;
}

section.bk-grey div.box-soft-pink{
    width: 30%;
}

/*section bk-lightgreen*/

section.bk-lightgrey{ 
    background-color: #d2d2d2;
    height: 40rem;
    justify-content: center;
    align-items: center;
}

div.box-green{
    background-color: #528c32;
    width: 70%;
    height:90%;
    border: 2px dotted black;

}

/* FOOTER*/

footer{
    background-color: #292b2e;
    height: 50rem;
}

section.bk-dark-blue{
    height: 22rem;
    justify-content: center;
    padding: 1rem 0;
}
div.container-footer{
    width: 70%;
    height: 20rem;
    justify-content: center;
    align-items: center;
}
div.box-mini-pink{
    background-color: #d48282;
    width: 40%;
    height: 100%;
    border: 1px dotted black;
}

div.box-mini-green{
    background-color: #6aafa7;
    width: 15%;
    height: 100%;
    border: 1px dotted white;
}

/* HR WHITE*/

div.hr-white{
    background-color: white;
    height: 1px;
    margin-bottom: 1rem;

}

section.footer{
    height: 2rem;
    justify-content: center;
    align-items: center;
}
div.bk-aqua{
    background-color: #b0ffd4;
    width: 70%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}