*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.flex-container {
    display: flex;
}
.flex-center{
    justify-content: center;
    align-items: center; 
}

/*                                                  HEADER                                                          */
ul{
    list-style: none;
}
nav ul{
    display: flex;
    justify-content: space-between;
  }

nav{
    width: 50%;
    text-align: center;
    flex-direction: row;
}

header li{
    color: white;
    padding: .5rem;
}

header{
    background-color: #255ee9;
    height: 3rem;
    justify-content: center;
    align-items: center;
    padding-top: .5rem;
}

header section.main-header{
    width: 70%;
    height: 90%;
    height: 2rem;
}

div.logo{
    width: 25%;
}

div.login{
    width: 25%;
    text-align: right;
    display: flex;
    justify-content: end;
}

button{
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: .5rem 1rem;
    border: none;

}

button.bk-black{
    background-color: #292b2e;
    color: white;
}

/*                                              MAIN                                                    */

section.jumbotron{
    background-image: url(../imgs/jumbo.png);
    background-size: cover;
    height: 30rem;
    justify-content: center;
    align-items: center;
}

div.box-description-jumbotron{
    width: 50%;
    height: 70%;
    color: white;
    text-align: center;
    padding: 1rem;
}
div.box-description-jumbotron h1{
    font-size: 3rem;
    padding-bottom: 1.5rem;
}

div.box-description-jumbotron p{
    font-size: 1.1rem;
    padding: .8rem .8rem 1.5rem .8rem;
}

div.box-description-jumbotron > button{
    padding: 1rem 1.5rem;
    border-radius: 30px;
    font-size: 1.2rem;
    margin-left: 1rem;
}

button span.entity{
    font-size: 1rem;
}


/*Section WHITE*/
section.bk-white{
    background-color: white;
    height: 45rem;
    justify-content: center;
    align-items: center;
}
div.container-box{
    height: 80%;
    width: 70%;
    justify-content: center;
    align-items: center;
}

div.box-img{
    width: 70%;
    height: 100%;
}

div.box-description{
    width: 30%;
    height: 100%;
}

div.box-description h1{
    font-size: 2.5rem;
    padding-bottom: 1rem;
}
div.box-description p{
    font-size: 1.5rem;
}

/*Section bk-grey*/
section.bk-grey{
    background-color: #d2d2d2;
    height: 50rem;
    justify-content: center;
    align-items: center;
}

section.bk-grey div.box-img{
    width: 70%;
    order: 1;
}

section.bk-grey div.box-description{
    width: 30%;
}

/*section bk-lightgreen*/


div.box-top-description{
    width: 70%;
    height:90%;
    text-align: center;
}

div.box-top-description h1{
    font-size: 2rem;
    padding-bottom: 1rem;
}

div.stars{
    background-image: url(../imgs/stars.svg);
}

div.stars h2{
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
}
button.bk-soft-violet{
    background-color: #969adc;
    color: white;
    padding: .5rem 1rem;
}
/* FOOTER*/

footer{
    background-color: #292b2e;
    height: 50rem;
}

section.bk-dark-blue{
    height: 22rem;
    justify-content: center;
    padding: 3rem 0;
}
div.container-footer{
    width: 70%;
    height: 20rem;
    justify-content: center;
    align-items: center;
}
div.box-mini-pink{
    width: 40%;
    height: 100%;
    color: white;
}

div.box-mini-pink h1{
    color: #7d81d5;
    font-size: 2.5rem;
    padding-bottom: 1rem;

}

div.box-mini-pink img{
    width: 1rem;
}

div.box-mini-green{
    width: 15%;
    height: 100%;
}

div.box-mini-green h2{
    color: #7d81d5;
    font-size: 1rem;
}
div.box-mini-green li{
    padding-top: .5rem;
    color: white;
}

/* HR WHITE*/

div.hr-white{
    background-color: white;
    height: 1px;
    margin-bottom: 1rem;
    width: 70%;
    margin: 0 auto;

}

section.footer{
    padding-top: 1rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
}
div.bk-aqua{
    width: 70%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
}